//Colors :Peperoni pizza
$color-1: #070d59;
$color-2: #1f3c88;
$color-3: #5893d4;
$color-4: #ceddef;
$color-5: #03073e;
$color-6: silver;

$font-family-1:'Share Tech Mono', monospace;
$font-family-2:'Fredericka the Great';
$font-family-3:'Jura', sans-serif;

//Font size:
$fontsize-header-1: 5rem;
$fontsize-header-2: 2rem;
$fontsize-header-3: 2.5rem;
$fontsize-form: 1.5rem;
$fontsize-paragraph: 1.5rem;

//Margin sizes:
$marginbottom-large: 6rem;
$marginbottom-medium: 4rem;
$marginbottom-small: 3rem;
