.btn {
    height: 5rem;
    width: 45%;
    background-color: $color-3;
    border: 1px solid white;
    color: $color-4;
    font-weight: 600;

    @include respond(no-hover){
        &:hover {
            background-color: $color-1;
        }
    }

    &:active{
        background-color: $color-4;
        color: $color-1;
    }

    &_reset {
        display: block;
        position: relative;
        margin: 3rem auto 0 auto;
        width: 30%;
        text-align: center;
    }
}
